/** from carveme 
 *   http://lab.simurai.com/css/carveme/  
 * 
 */
/**
.title {
    background-color: rgba(82,96,117,0.5);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
}
**/

html, body {
    height: 100%;
    font-family: 'Carter One', arial, serif; 
    
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 4px;
    font-size:300%;
    
}

.title {
    text-shadow: 1px 1px 5px gray;
}

#undumer {
    font-size: 120%;
    position: relative;
    height: 100%;
}

.buttonbar {
    padding: 4px;   
}


.hd .toolbar ul li {
    list-style-type: none;
    float: left;
    display: block;
    padding: 0px 8px;
    text-shadow: 1px 1px 1px #FFF;
    cursor: pointer;
}

.hd .toolbar ul li:hover {
    font-weight: bold;
    text-shadow: -1px -1px 1px #FFF;
}

.bd  {
    clear: left;
    padding-top: 16px;
}


.bd .panels li{
    display: none;
}


.ft {
    position: absolute;
    bottom: 0px;
}
